<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome to the World App
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="viewFavorites()">
        {{ showFavorites ? 'All Countries' : 'View Favorites' }}
      </ion-button>
    </ion-buttons>
    <ion-searchbar (ionInput)="filterCountries($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-list *ngFor="let letter of getKeys(filteredCountries | groupByLetter)">
    <ion-item-divider id="letter-{{ letter }}">
      <ion-label>{{ letter }}</ion-label>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let country of (filteredCountries | groupByLetter)[letter] | sortCountries"
      [ngClass]="{ 'favorite': favoriteCountries.has(country.country) }" class="country-item" (ionSwipe)="toggleFavorite(country, $event)">
      <ion-item>
        <ion-thumbnail slot="start">
          <ng-container *ngIf="country?.flagUrl">
            <ion-img [src]="country?.flagUrl" class="country-flag"></ion-img>
          </ng-container>
        </ion-thumbnail>
        <ion-label>
          {{ country?.country }}
        </ion-label>
        <div class="details">
          <span *ngIf="selectedCountryPopulation[country.country] !== undefined" class="population">
            Population: {{ selectedCountryPopulation[country.country] }}
          </span>
          <ion-button fill="outline" slot="end" (click)="showPopulation(country)">
            More
          </ion-button>
        </div>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="favorite" (click)="toggleFavorite(country, $event)">
          {{ favoriteCountries.has(country.country) ? 'Remove from Favorites' : 'Add to Favorites' }}
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteCountry(country)">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div class="alphabet-nav">
    <ion-list>
      <ion-item *ngFor="let letter of getKeys(filteredCountries | groupByLetter)" (click)="scrollToLetter(letter)">
        <ion-label>{{ letter }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
