<ion-header>
  <ion-toolbar>
    <ion-title>
      Country List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let country of countries">
      <ion-thumbnail slot="start">
        <img [src]="countryFlags[country.country]" *ngIf="countryFlags[country.country]" />
      </ion-thumbnail>
      <ion-label>
        {{ country.country }}
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="showPopulation(country)">
        More
      </ion-button>
      <div *ngIf="selectedCountryPopulation[country.country] !== undefined">
        Population: {{ selectedCountryPopulation[country.country] }}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
